/* Universal Selector */
* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* GENERAL STYLES FOR ALL WEBPAGE */
/* Style 3 webpage with colors  */
body {
    background-image: url("Pictures/WaterfrontView.jpeg");
    background-color: rgb(255, 255, 255, 0.0);
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    color: #ccc;
}

/* Pseudo-element Selector and Multiple Selector */
header::before, header::after {
    content: "- - - - - - - - - - - - - - - - -";
}
/* Header style */
header{
    text-align: center;
    color: black;
    background-color: grey;
    font-size: 1em;
}
/* Navigation bar styles */
nav {
    text-align: center;
    position: fixed;
    float: left;
}

/* Descendant Selector */
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

/* Child Selector */
nav > ul li {
    list-style-type: none;
    color: white;
    background-color: rgba(9, 211, 87, 0.4);
    font-size: 16px;
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

#buttonHome:hover {
    text-decoration: wavy;
    background-color: rgba(2, 106, 42, 1);
    font-size: 17px;
    padding: 17px 40px;
}

#aboutMeButton:hover {
    text-decoration: wavy;
    background-color: rgba(2, 106, 42, 1);
    font-size: 17px;
    padding: 17px 40px;
}

#galleryButton:hover {
    text-decoration: wavy;
    background-color: rgba(2, 106, 42, 1);
    font-size: 17px;
    padding: 17px 40px;
}

/* HOME PAGE MODIFICATION */
/* Display homepage using flex */
.home {
    display: flex;
    flex-direction: column;
}

.homeIntroduction {
    display: flex;
    flex-direction: column; 
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
}

/* Adjacent Sibling selector */
.homeIntroduction a + p {
    font-size: 14px;
    font-style: oblique;
}

/* Attribute Selector */
a[target="_blank"] img{
    width: 100px; 
    height: 100px;
}

img[alt ^= "Insta"]:hover {
    width: 110px;
    height: 110px;
}

img[alt ^= "Face"]:hover {
    width: 110px;
    height: 110px;
}
/* Sibling Selector */
/* Only apply to homepage footer */
.home header ~ footer {
    position: absolute;
    bottom: 0;
    align-self: flex-end;
}

/* ABOUT ME PAGE MODIFICATION */
.aboutMe {
    display: grid;
    margin: 0;
}
.aboutMe > h2, .nameAndAge, .career {
    text-align: center;
}
/* Modify using grids */
.myEducation { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 2px;
}
.myEducation h3 {
    grid-column: 1 / 3;
    grid-row: 1/2;
    text-align: center;
    font-size: 22px;
}
#crhs {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}
#dal {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}
.myEducation img {
    border: 20px groove gray;
    border-radius: 10%;
    width: 240px;
    height: 180px;
}
.myEducation p {
    font-size: 80%;
    font-style: italic;
    text-decoration: underline;
}
.favorite {
    text-align: center;
}

/* GALLERY PAGE MODIFICATION */
.gallery {
    display: grid;
    margin: 0;
}
.pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
}
.gallery h3 {
    text-align: center;
    font-size: 22px;
}
.mainContent p {
    text-align: center;
    font-size: 80%;
    font-style: italic;
    text-decoration: underline;
}
.gallery img, video {
    margin: 10px;
    padding: 1px;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
/* Display the Gallery Page by grid area */
.gallery {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "header"
        "main"
        "colorPallet"
        "footer";
}
.gallery header {
    grid-area: header;
}
.gallery section {
    grid-area: main;
}
.gallery footer {
    grid-area: footer;
}
.gallery .colorPallet{
    grid-area: colorPallet;
}

.contactPage footer {
    margin-top: 5.5vh;
    margin-bottom: 0px;
    padding: 1px;
}
/*Form Style*/
.contactSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
input {
    width: 40vw;
}
#validateButton, .submit {
    width: 10vw;
}

.notification { 
    display: flex;
    justify-content: center;
    margin-top: 3px;
    flex-direction: column;
    align-items: center;
}
.submit {
    margin: 0 auto;
    display: block;
}


/* Footer style */
footer {
    background-color: gray;
    text-align: center; 
    width: 100%;
    color: black;
    font-weight: 100;
    font-style: italic;
}

/* Base button style */
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

/* Hover effect */
button:hover {
    background-color: #0056b3;
}

.palletChange {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    width: 10vw;
}


/*Desktop view*/
@media only screen and (min-width:1200px){
    body {
        width: 100vw;
    }
    .home img {
        width: 10vw;
        height: 10vh;
    }
    nav {
        position: fixed;
        float: left;
    }
    .overview  {
        width: 70vw;
        text-align: center;
    }
    .aboutMe img {
        width: 25vw;
        height: 30vh;
    }
    .favorite {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .gallery .pictures img {
        width: 25vw;
        height: 25vh;
    }
    .gallery .videos video {
        height: 26.5vh;
    }
}

/*Tablet view*/
@media only screen and (min-width:900px) and (max-width: 1199px){
    body {
        width: 100vw;
    }
    .home img {
        width: 20vw;
        height: 20vh;
    }
    nav {
        position: fixed;
        float: none;
    }
    nav ul {
        gap: 5px;
    }
    .overview  {
        width: 60vw;
        text-align: center;
    }
    .aboutMe img {
        width: 25vw;
        height: 30vh;
    }
    .favorite {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .gallery .pictures img {
        width: 25vw;
        height: 25vh;
    }
    .gallery .videos video {
        height: 26.5vh;
    }
}

/*Phone view*/
@media only screen and (min-width:300px) and (max-width: 899px){
    body {
        width: 100vw;
    }
    header {
        height: 16vh;
    }
    .home img {
        width: 20vw;
        height: 20vh;
    }
    nav {
        position: fixed;
        font-size: 0.5em;
        margin-top: 10vh;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        gap: 10vw;
    }
    .overview  {
        width: 100vw;
        text-align: center;
    }
    .aboutMe img {
        width: 25vw;
        height: 30vh;
    }
    .favorite {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .favorite li, audio {
        text-align: start;
    }
    .gallery .pictures img {
        width: 25vw;
        height: 25vh;
    }
    .gallery .videos video {
        width: 35vw;
        height: 26.5vh;
    }
    .gallery .pictures, .gallery .videos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
    }
    .contactPage nav {
        position: static;
        font-size: 0.5em;
        margin-top: 0;
    }
}
.palletBlue{
    background-image: URL("Pictures/abstract-watercolor-pastel-background_87374-139.avif");
    color: #030000;
}
.palletOrange{
    background-image: url("Pictures/OrangeBackground.jpg");
    color: #000000;
}
.palletDefault{
    background-image: URL("Pictures/WaterfrontView.jpeg");
    color:#ccc;
}
.hidden {
    display: none;
}
.displayContent {
    display: block;
}

